<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{blog.title}}</title>
    </head>
    <body>
        <h1>{{blog.title}}</h1>
        <p><strong>{{blog.date}}</strong></p>
        <p>{{blog.body}}</p>
    </body>
</html>