<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <meta charset="utf-8">
        <title>All Blog</title>
  </head>
  <body>
        <h1>basicBlog Django</h1>
        <hr>
        {% for blogg in qs %}
        <h2>{{blogg.title}}</h2>
        <p><strong>{{blogg.date}}</strong></p>
        <p>{{blogg.body}}</p>
        <hr>
        {% endfor %}
  </body>
</html>